# https://www.toptal.com/developers/gitignore/api/maven,windows,eclipse,dbeaver에 의해 생성됨
# https://www.toptal.com/developers/gitignore?templates=maven,windows,eclipse,dbeaver에서 편집

# ## DBeaver ###
# ide 구성 파일
.dbeaver-data-sources * .xml

# ## 이클립스 ###
.metadata
빈 /
임시 /
* .tmp
* .bak
* .swp
* ~ .nib
local.properties
.settings /
.loadpath
.recommenders

# 외부 도구 빌더
.externalToolBuilders /

# 로컬에 저장된 "Eclipse 실행 구성"
* .launch

# PyDev 특정 (Eclipse 용 Python IDE)
* .pydevproject

# CDT 관련 (C / C ++ 개발 도구)
.cproject

# CDT- 자동 도구
.autotools

# 자바 주석 프로세서 (APT)
.factorypath

# PDT 관련 (PHP 개발 도구)
.buildpath

# sbteclipse 플러그인
.표적

# Tern 플러그인
.tern-project

# TeXlipse 플러그인
.texlipse

# STS (Spring Tool Suite)
.springBeans

# 코드 추천자
.recommenders /

# 주석 처리
.apt_generated /
.apt_generated_test /

# Scala IDE 특정 (Eclipse 용 Scala 및 Java 개발)
.cache-main
.scala_dependencies
.worksheet

# 프로젝트 설명 파일을 무시하려면이 줄의 주석 처리를 제거하십시오.
# 일반적으로이 파일은 빌드 / 종속성 구성이 포함 된 경우 추적됩니다.
# .project

# ## Eclipse 패치 ###
# 스프링 부트 툴링
.sts4-cache /

# ## 메이븐 ###
타겟 /
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn / timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn / 래퍼 / maven-wrapper.jar

# ## Windows ###
# Windows 썸네일 캐시 파일
Thumbs.db
Thumbs.db : 암호화 가능
ehthumbs.db
ehthumbs_vista.db

# 덤프 파일
* .stackdump

# 폴더 구성 파일
[ Dd ] esktop.ini

# 파일 공유에 사용되는 휴지통
$ RECYCLE.BIN /

# Windows Installer 파일
* .cab
* .msi
* .msix
* .msm
* .msp

# Windows 단축키
* .lnk

# https://www.toptal.com/developers/gitignore/api/maven,windows,eclipse,dbeaver의 끝
